{% from "macros/modal_form.html" import modal_form %}
{% from "macros/delete_modal_form.html" import  delete_modal_form %}

{% macro api_buttons(api, edit_api_form, add_endpoint_form) %}

    {% set url_endpoint=request.url_rule.endpoint %}

    <style>
        .api-buttons a{
            font-size: 12px;
        }
    </style>

    <div class="api-buttons">
        {% if url_endpoint!="views.detail_api" %}
            <a href="{{ url_for('views.detail_api', id=api.id) }}" class="btn btn-success">
                <i class="fa fa-list-ul"></i> Details
            </a>
        {% endif %}

        <!-- Add Endpoint -->
        {% set html_id="add-endpoint-to-api-"+api.id|string %}
        {% set button_text="Add Endpoint" %}
        {% set button_color="info" %}
        {% set head_text="Add endpoint to API #" + api.id|string + " " + api.label %}
        {% set action=url_for('views.add_endpoint', id=api.id) %}
        {{ modal_form(html_id=html_id, button_text=button_text, button_color=button_color, head_text=head_text, form=add_endpoint_form, action=action) }}

        <!-- Edit API -->
        {% set html_id="edit-api-"+api.id|string %}
        {% set button_text="Edit" %}
        {% set button_color="secondary" %}
        {% set head_text="#" + api.id|string + " " + api.label %}
        {% set action=url_for('views.edit_api', id=api.id) %}
        {{ modal_form(html_id=html_id, button_text=button_text, button_color=button_color, head_text=head_text, form=edit_api_form, action=action, data=api) }}

        <!-- Delete API -->
        {% set html_id="delete-api-"+api.id|string %}
        {% set message="Do you want to delete API " + api.url %}
        {% set action=url_for('views.delete_api', id=api.id) %}
        {% set head_text="#" + api.id|string + " " + api.label %}
        {{ delete_modal_form(html_id=html_id, button_text="Delete", head_text=head_text, message=message, action=action )}}
    </div>

{% endmacro %}