{% macro delete_modal_form(html_id, button_text, head_text, message, action) %}

<a href="#" data-toggle="modal" data-target="#{{html_id}}" class="btn btn-danger">
    <i class="fa fa-trash"></i> {{ button_text }}
</a>
<div class="modal fade" id="{{html_id}}" tabindex="-1" role="dialog" aria-labelledby="modal-label-{{html_id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label-{{html_id}}">{{ head_text }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                <form method="post" action="{{action}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="btn btn-danger" >{{ button_text }}</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endmacro %}


